# Python
venv/
__pycache__/
*.pyc
*.egg-info/
.eggs/

# Data (actual data files — DVC handles these)
data/raw/*.csv
data/processed/*.csv

# MLflow
mlflow/mlruns/

# BentoML
bentoml/bentos/

# Environment
.env

# DVC
.dvc/cache/

# Jupyter
.ipynb_checkpoints/
